/* Calculator Style */

.main-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: bisque;
    display: flex;
}

.calculator-container{
    background-color: aliceblue;
    flex: 1;
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}  

.screen{
    background-color: black;
    flex: 0, 1;
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
}

.keyboard{
    background-color: blueviolet;
    flex: 1;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    flex: 0, 1;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    display: flex;
}

.button:hover{
    background-color: azure;
    transition: 300ms;
}

.clear-button{
    flex: 0, 1;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 10em;
    height: 3em;
    margin-top: 10%;
    display: flex;
}

.clear-button:hover{
    background-color: azure;
    transition: 300ms;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.numbers > .row {
    display: in;
    flex-direction: row;
    gap: 40px;
}

.operator-style{
    background-color: azure;
    transition: 300ms;
}